{% set pageTitle = pageTitle is defined ? "#{pageTitle} | #{siteName}" : siteName %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>{{ pageTitle }}</title>
  <link rel="icon" href="{{ siteUrl }}assets/images/favicon-16x16.png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Inter:wght@400;500;600&display=swap">
  <style>
    body {
      background: #2DAF90;
    }
    p, ul, li, a {
      font-family: 'Inter', sans-serif;
    }
    h1, h2, h3, h4 {
      font-family: 'Arvo', serif;
    }
    [x-cloak] {
      display: none;
    }
  </style>
  <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
  {% block head %}{% endblock %}
</head>
<body class="">
  <div class="container mx-auto px-4 md:px-8 pb-32">
    {% block content %}{% endblock %}
  </div>
</body>
</html>