{% extends "_layouts/base.twig" %}

{% set articles = craft.entries()
  .section('article')
  .with([
    'articlePhoto',
    'articleCategory',
  ])
  .limit(6)
  .order('postDate DESC')
  .all()
%}

{% block content %}
  <div class="text-white mt-32">
    <h1 class="text-3xl font-bold">
      Events
    </h1>
    <p class="text-md mt-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa libero labore natus atque, ducimus sed.</p>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mt-16">
      {% for item in articles %}
        {% include "_includes/article_item.twig" with {
          item: item,
        } %}
      {% endfor %}
    </div>
  </div>
{% endblock %}