{% extends "_layouts/base.twig" %}

{% css %}
  .people-item:hover {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(184, 184, 184, 1);
  }
{% endcss %}

{% set peoples = craft.entries()
  .section('people')
  .with([
    'peoplePhoto',
  ])
  .order('postDate DESC')
  .all()
  |map(v => {
    title: v.title,
    jobtitle: v.jobtitle,
    body: v.body,
    imageUrl: v.peoplePhoto[0].url ?? '/assets/images/Trudeau_visit_White_House_for_USMCA_(cropped).jpg'
  })
%}
{% block content %}
  <div class="text-white mt-36" x-data="alpine_task2()">
    <h1 class="text-4xl">
      Our Teachers
    </h1>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mt-16">
      {% for item in peoples %}
        {% include "_includes/people_item.twig" with {
          item: item,
          class: 'mx-8',
          key: loop.index0,
        } %}
      {% endfor %}
    </div>
    <div class="text-center mt-24">
      <a class="px-8 py-3 bg-indigo-500 hover:bg-indigo-600 text-white rounded" href="#">
        View More
      </a>
    </div>

    {% embed "_includes/modal.twig" %}
      {% block modalContent %}
        <template x-if="currentData!=null">
          <div>
            <h2 class="text-4xl" x-text="currentData.jobtitle"></h2>
            <div class="flex mt-12">
              <img :src="currentData.imageUrl" class="w-48 h-48 mr-8" />
              <div>
                <p x-text="currentData.title" class="text-2xl"></p>
                <p x-html="currentData.body" class="mt-8"></p>
              </div>
            </div>
          </div>
        </template>
      {% endblock %}
    {% endembed %}

  </div>
{% endblock %}

{% js %}
  let entries = {{ peoples|json_encode|raw }};
  function alpine_task2() {
    return {
      isModalShown: false,
      currentData: null,
      showModal(index) {
        this.isModalShown = true;
        this.currentData = entries[index] ?? null;
      },
      closeModal() {
        this.isModalShown = false;
        this.currentData = null;
      },
    };
  }
{% endjs %}